{% extends 'base.html' %}
{% block title %}Crusade forces{% endblock %}

{% block content %}
    <div>
        <h1>Crusade forces</h1>
        <div class="crusade-forces-list">
            {% if crusade_forces %}
                <ul>
                    {% for crusade in crusade_forces %}
                        <li>
                            <h3><a href="{{ url_for('crusade.crusade_force_detail', crusade_id=crusade.crusade_id) }}">
                                {{ crusade.crusade_force }}
                            </a></h3>
                            <p>Faction: {{ crusade.faction }} | {{ crusade.supply_used }}/{{ crusade.supply_limit }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No crusade forces found.</p>
            {% endif %}
        </div>
        {#        <div class="add-crusade">#}
        {#            <a href="{{ url_for('crusade_force.create_crusade') }}" class="btn btn-primary">Add New Crusade Force</a>#}
        {#        </div>#}
    </div>
{% endblock %}