{% extends 'base.html' %}
{% block title %}Crusade forces{% endblock %}

{% block content %}
    <div>
        <h1>Crusade forces</h1>
        <div class="crusade-forces-list">
            {% if crusade_forces %}
                <ul>
                    {% for crusade in crusade_forces %}
                        <li>
                            <h3>{{ crusade.crusade_force }}</h3>
                            <p>Faction: {{ crusade.faction }}</p>
                            <p>Supply Limit: {{ crusade.supply_limit }}</p>
                            <p>Supply Used: {{ crusade.supply_used }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No crusade forces found.</p>
            {% endif %}
        </div>
{#        <div class="add-crusade">#}
{#            <a href="{{ url_for('crusade_force.create_crusade') }}" class="btn btn-primary">Add New Crusade Force</a>#}
{#        </div>#}
    </div>
{% endblock %}