{% extends 'base.html' %}
{% block title %}Dice rolls{% endblock %}

{% block content %}
    <div>
        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.dice_number.label }} <br/>
                {{ form.dice_number(size=30) }}
            </p>
            <p>
                {{ form.dice_size.label }} <br/>
                {{ form.dice_size(size=30) }}
            </p>
            <p>
                {{ form.roll() }}
            </p>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li style="color: red;">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% if roll_results %}
        <hr>
        <h2>Dice rolls result</h2>
        <div class="content">
            <ul>
                {% for roll in roll_results %}
                    <li>{{ roll }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}